<!DOCTYPE html>
<html>
    <link lang="de">
    <title>TANK</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js'></script>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="./js/main.js"></script>
</head>
<body>
    <form action="">
        <p>Выберите количество колонок</p>
        <select>
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="12">12</option>
        </select>
    </form>
    <div class="container">
        <div class="row">
            <div class="col col-xx-12">efkwjerng;e.vjnewkljgbweljhrbwejbwelrkjgbwelrg</div>
            <div class="col col-xx-12">2</div>
            <div class="col col-xx-12">3</div>
            <div class="col col-xx-12">4</div>
            <div class="col col-xx-12">5</div>
            <div class="col col-xx-12">6</div>
            <div class="col col-xx-12">7</div>
            <div class="col col-xx-12">8</div>
            <div class="col col-xx-12">9</div>
            <div class="col col-xx-12">10</div>
            <div class="col col-xx-12">11</div>
            <div class="col col-xx-12">12</div>
        </div>
        <div class="row">
            <div class="col col-xx-12">1</div>
            <div class="col col-xx-12">2</div>
            <div class="col col-xx-12">3</div>
            <div class="col col-xx-12">4</div>
            <div class="col col-xx-12">5</div>
            <div class="col col-xx-12">6</div>
            <div class="col col-xx-12">7</div>
            <div class="col col-xx-12">8</div>
            <div class="col col-xx-12">9</div>
            <div class="col col-xx-12">10</div>
            <div class="col col-xx-12">11</div>
            <div class="col col-xx-12">12</div>
        </div>
        <div class="row">
            <div class="col col-xx-12">1</div>
            <div class="col col-xx-12">2</div>
            <div class="col col-xx-12">3</div>
            <div class="col col-xx-12">4</div>
            <div class="col col-xx-12">5</div>
            <div class="col col-xx-12">6</div>
            <div class="col col-xx-12">7</div>
            <div class="col col-xx-12">8</div>
            <div class="col col-xx-12">9</div>
            <div class="col col-xx-12">10</div>
            <div class="col col-xx-12">11</div>
            <div class="col col-xx-12">12</div>
        </div>
    </div>
</body>
</html>
